<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.thym.core.platformSupport">
      <platform
      		projectGenerator="org.eclipse.thym.browser.core.BrowserProjectGenerator"
            id="org.eclipse.thym.browser.core.platformSupport"
            platform="Browser"
            platformID="browser"
            pluginInstallActionFactory="org.eclipse.thym.browser.core.BrowserPluginInstallationActionsFactory"
            libraryResolver="org.eclipse.thym.browser.core.BrowserLibraryResolver">       
      </platform>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.thym.browser.core.BrowserLaunchDelegate"
            id="org.eclipse.thym.browser.core.BrowserLaunchConfigurationType"
            modes="run"
            name="Cordova Browser">
      </launchConfigurationType>
   </extension>

</plugin>
